<br/>
<footer class="footer mt-auto py-3">
    <style>.heart{color:#e25555;}</style>
    <div class="container">
        Made with <span class="heart">♥</span> by <a href="https://andrewjameskrause.com/">Andrew Krause</a> | <a href="https://github.com/scgrn/RecordCollection.online">Github</a> | <a href="">Privacy policy</a> 
    </div>
</footer>
