<br/>
<footer class="footer mt-auto py-3 text-center">
    <!-- <style>.heart{color:#e25555;}</style> -->
    <style>.heart{color:#ff00ff;}</style>

    <div class="container">
        <div class="row align-items-center">
            <div class="col ">
        Made with <span class="heart">♥</span> by <a href="https://recordcollection.online/scgrn">Andrew Krause</a> | 
        <a href="mailto:contact@recordcollection.online">Contact</a> | 
        <a href="https://github.com/scgrn/RecordCollection.online">Github</a> | 
        <a href="/privacyPolicy.html">Privacy policy</a> 
            </div>
        </div>
    </div>
</footer>
