<div id="reset-password" class="collapse">                
    <form id="resetPasswordForm"">
        <div class="password-container">
            <label for="resetPassword">
                <i class="fas fa-lock"></i>
            </label>
            <input type="password" name="password" placeholder="New password" id="resetPassword" required>
            <i class="fas fa-eye" id="resetEye"></i>
        </div>

        <div class="password-container ">
            <label for="resetConfirmPassword">
                <i class="fas fa-lock"></i>
            </label>
            <input type="password" name="confirmPassword" placeholder="Confirm new password" id="resetConfirmPassword" required>
            <i class="fas fa-eye" id="resetConfirmEye"></i>
        </div>

        <div>
            <input type="submit" class="btn btn-primary btn-sm" value="Change password" onclick="changePassword(event, <%- redirect -%>)">
        </div>
        <div id="status" class="m-2">&nbsp;</div>
    </form>
</div>

