node_modules
dev

static/img/covers/*
!static/img/covers/.gitkeep

static/img/thumbnails/*
!static/img/thumbnails/.gitkeep

static/img/qrCodes/*
!static/img/qrCodes/.gitkeep

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

utils/resetDemo.cnf

