<%- include('./partials/head'); %>

<body class="d-flex flex-column h-100">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">

<%- include('./partials/header'); %>

                <p><h4><%- message -%></h4></p>
                <p><a href="/home">Home</a></p>
            </div>
        </div>
    </div>

<%- include('./partials/footer'); %>
    
    </body>
</html>
