<h4>Email Address Collection and Usage</h4>
<p>
We collect your email address solely for the purpose of account verification and password recovery on our website 
RecordCollection.online. Your email address is an important part of your account information, allowing us to securely verify 
your identity and assist you in recovering your account if necessary.
</p>
<h4>Usage of Email Address:</h4>
<ul>
    <li>
    Account Verification: When you sign up for an account on RecordCollection.online, we require you to provide your email 
    address to verify your identity. This helps us ensure the security of your account and prevent unauthorized access.
    </li>
    <li>
    Password Recovery: In case you forget your account password, we will use your email address to send you 
    instructions for resetting your password. This process ensures that only you, the account owner, can access your 
    account.
    </li>
</ul>
<h4>Integration of Google reCAPTCHA v2:</h4>
<p>
To enhance the security of our website and prevent spam or abusive behavior, we have integrated Google reCAPTCHA v2 
into our registration and login processes. Google reCAPTCHA v2 helps distinguish between human users and automated 
bots, ensuring a safer environment for all users of RecordCollection.online.
</p>
<p>
When you interact with the reCAPTCHA widget, certain information such as your IP address and browsing behavior may be 
collected by Google to determine whether you are a human user. This data collection is subject to Google's Privacy 
Policy and Terms of Service.
</p>
<h4>Third-Party Sharing:</h4>
<p>
We want to assure you that we do not share your email address with any third parties. Your email address is strictly 
used for internal purposes related to your account on RecordCollection.online.
</p>
<h4>Data Security:</h4>
<p>
We take the security of your email address seriously. We implement industry-standard security measures to protect 
your information from unauthorized access, disclosure, alteration, or destruction.
</p>
<h4>User Control:</h4>
<p>
You have the right to update, correct, or delete the email address associated with your account at any time. If you 
wish to make any changes, please contact us at contact@recordcollection.online.
</p>
<p>
By using RecordCollection.online, you agree to the collection and use of your email address as described in this Privacy 
Policy.
</p>
<p>
If you have any questions or concerns regarding the collection and usage of your email address or the integration of 
reCAPTCHA, please don't hesitate to contact us at contact@recordcollection.online.
</p>
