* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-image: url("img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    color: white;

    overflow-x: hidden;
}

table {
    backdrop-filter: blur(10px) brightness(50%);
}

img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

h1 {
    font-family: 'Righteous';
    font-size: 36px;
}

form div {
    margin-top: 10px;
}

.fa-eye{
    margin-left: -30px
}

.password-container input[type="password"],
.password-container input[type="text"]{
    padding-right: 35px;
}

.accordion-header {
    border: 1px solid;
}

#browse-button::after {
    content: none;
}

.error {
    color: darkred;
}

th, td {
    color: white;
}
