* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-image: url("img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    color: white;

    overflow-x: hidden;
}

table {
    backdrop-filter: blur(10px) brightness(50%);
}

.collection {
    backdrop-filter: blur(10px) brightness(50%);
    border: 1px solid white;
    
    padding-top: 25px;
}

.cover {
    width: 80%;
    margin-bottom: 20px;

    border: 1px solid white;
}

h1 {
    font-family: 'Righteous';
    font-size: 36px;
}

form div {
    margin-top: 10px;
}

.fa-eye{
    margin-left: -30px
}

.password-container input[type="password"],
.password-container input[type="text"]{
    padding-right: 35px;
}

.accordion-header {
    border: 1px solid;
}

#browse-button::after {
    content: none;
}

.error {
    color: darkred;
}

th, td {
    color: white;
}


/*  QR code overlay  */

.qr {
    transform: scale(2.0);
}

/* The Overlay (background) */
.qr-overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    display: none;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.qr-overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .qr-overlay a { font-size: 20px }
    .qr-overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
